* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Fira Sans', sans-serif;

}


ul {
    list-style: none;
}

header {
    height: 75px;
    width: 100%;
    padding: 0 50px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
    border-bottom: 1px solid rgb(188, 12, 7);

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
}

.logo {
    width: 150px;
    height: 45px;
}

.logoPhone {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.nav-item {
    list-style: none;
    
    font-size: 18px;

}

.nav-link {
    transition: 0.5s;
    transform: scale(2);
}

.nav-link:hover {
    color: #c21500;
}

.nav-link:focus {
    color: #ffc500;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 35px;
    padding: 5px;
    border: 1px solid #a59a9a; 
    border-radius: 17.5px;
    transition: 0.1s;
}

.search {
    width: 150px;
    height: 25px;
    border: 1px solid #a59a9a;
    background-color: #d4d4d4;
    border-radius: 12.5px;
    text-align: center;
    transition: 0.1s;
}


.confirm {
    width: 25px;
    height: 25px;
    border: 1px solid  #aaaaaa;
    background-color: #d4d4d4;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

.search:hover, form:hover, .confirm:hover {
    box-shadow: 2px 2px 2px rgba(167, 165, 165, 0.5);
}

main {
    width: 100%;
}

.welcome {
    width: 100%;
    height: 450px;
    background: linear-gradient(90deg, #c21500, #ffc500);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.welcome-title {
    color: white;
}

.order, .advantages {
    width: 100%;
    height: 352px;
    background-size: contain;
}
.advantages {
    background-color: #fbfbfb;
    background-image: url(../img/design.png);
    
    background-repeat: no-repeat;
    background-position: 90%;
    
}

.advantage-list {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-image: linear-gradient(to left,  rgba(0, 0, 0, 0) , #ffc800 45%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.advantage-element {
    width: 1000px;
    padding-left: 20%;
    
    display: flex;
    align-items: center;
}

.advantage-text {
    text-align: left;
    padding-left: 5%;
}

.order {
    height: 352px;
    background-color: #2f94ad;
    background-image: url(../img/instruments.jpg);
    background-size: cover;
}
.order-cover {
    width: 100%;
    height: 352px;
    padding-top: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) , #ffc500 65%);
}

.text-order {
    margin-left: 65%;
    margin-top: 5%;
    text-align: left;
    
}

.order-list {
    list-style: circle;
}

.advantage-image{
    width: 40px;
    height: 40px;
}



.map {
    width: 600px;
    height: 450px;

    border-radius: 5px;
    margin: 20px;
    transition: 0.5s;
}



.map:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.maps {
    display: flex;
}

.locations {
    display: inline-block;
    text-align: center;
    margin: auto;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #585858;

    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.backlogo {
    width: 175px;
    height: 40px;
}

.location {
    margin-top: 5px;
    border-top: 3px solid #616161;
}

@media (max-width: 768px) {  
    header {
        height: 75px;
        width: 100%;
        padding: 0 30px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #fff;
        border-bottom: 1px solid rgb(188, 12, 7);
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        
    }
    
    .logo, .logo1{
        width: 120px;
        height: 35px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 60%;
        align-items: center;
    }
    
    .nav-item {
        list-style: none;
        
        font-size: 14px;
    
    }
    
    .nav-link {
        transition: 0.5s;
        transform: skew(2px);
    }
    
    .nav-link:hover {
        font-style: italic;
    }
    
    .nav-link:focus {
        color: #ffc500;
    }
    
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 145px;
    }
    
    .search {
        width: 120px;
        height: 18px;
        border: 1px solid #aaaaaa;
        background-color: #d4d4d4;
        border-radius: 12.5px;
    }
    
    .confirm {
        width: 18px;
        height: 18px;
        border: 1px solid  #aaaaaa;
        background-color: #d4d4d4;
        border-radius: 50%;
    }
    
    main {
        width: 100%;
        height: 1500px;
    }
    
    .welcome {
        width: 100%;
        height: 450px;
        background: linear-gradient(90deg, #c21500, #ffc500);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .welcome-title {
        color: white;
        font-size: 24px;
    }
    
    .order, .advantages {
        width: 100%;
        height: 350px;
        background-color:whitesmoke;
        background-image: url(../img/design.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 250px;
        padding-top: 20px;
    
    }
    
    .order-list, .advantage-list {
        list-style: disc;
    }

    .map {
        width: 419px;
        height: 309px;

    }

    .maps {
        padding-right: 20px;
    }

    .locations {
        font-size: 26px;
    }
    
    footer {
        width: 100%;
        height: 150px;
        background-color: #616161;
    
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media (max-width: 600px) {  
    header {
        height: 80px;
        width: 100%;
        padding: 0 25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #fff;
        border-bottom: 1px solid rgb(188, 12, 7);
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        
    }
    
    .logo {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 60%;
        align-items: center;
    }
    
    .nav-item {
        list-style: none;
        
        font-size: 13px;
    
    }
    
    .nav-link {
        transition: 0.5s;
        transform: skew(2px);
    }
    
    .nav-link:hover {
        font-style: italic;
    }
    
    .nav-link:focus {
        color: #ffc500;
    }
    
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 145px;
    }
    
    .search {
        width: 120px;
        height: 18px;
        border: 1px solid #aaaaaa;
        background-color: #d4d4d4;
        border-radius: 12.5px;
    }
    
    .confirm {
        width: 18px;
        height: 18px;
        border: 1px solid  #aaaaaa;
        background-color: #d4d4d4;
        border-radius: 50%;
    }
    
    main {
        width: 100%;
        height: 1500px;
    }
    
    .welcome {
        width: 100%;
        height: 450px;
        background: linear-gradient(90deg, #c21500, #ffc500);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .welcome-title {
        color: white;
        font-size: 48px;
    }
    
    .order, .advantages {
        width: 100%;
        height: 350px;
        background-color:whitesmoke;
        background-image: url(../img/design.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 250px;
        padding-top: 20px;
    
    }
    
    .order-list, .advantage-list {
        list-style: disc;
    }
    
    footer {
        width: 100%;
        height: 150px;
        background-color: #616161;
    
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo1{
        width: 100px;
        height: 25px;
    }

}
